.welcome {
  background                : url(../img/back_null_percents.jpg) no-repeat top center;
  height                    : 640px;
  position                  : relative;
  text-align                : left;
  padding                   : 24px;
  background-position-x     : 80%; 

  @media #{$media-tablet} {    
  }

  @media #{$media-desktop} {
    padding                 : 61px 56px;
    background-position-x   : 100%; 
  }
}

.welcome__header {
  display         : flex;
  justify-content : space-between; 

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
  }
}

.welcome__logo {
  margin-top    : 0;
  width         : 104px;
  height        : 56px;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    margin-top  : -13px;
  }
}

.welcome__menu {
  display           : none;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    display         : flex;    
    text-transform  : uppercase;
    font-size       : 11px;
    line-height     : 146%;
  }
}

.welcome__language {
  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    color             : #ffffff;
    text-decoration   : none;
    display           : flex;
    justify-content   : space-between;
  }
}

.welcome-language__arrow {
  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    border              : solid #9B9B9B;
    border-width        : 0 4px 4px 0;
    display             : inline-block;
    padding             : 4px;
    margin              : 0 0 0 10px;
    transform           : rotate(45deg);
    -webkit-transform   : rotate(45deg);
    vertical-align      : top;
    border-bottom-width : thin;
    border-right-width  : thin;
  }
}

.welcome__name {  
  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    color       : #FFCF00;
    margin-left : 50px;
  }
}

.welcome__first-title {
  color          : #fff;
  line-height    : 120%;
  font-size      : 40px;
  padding-top    : 200px;
  font-family    : $font-extra-light;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    padding-top  : 160px;
    line-height  : 110%;
    font-size    : 66px;
  }
}

.welcome__second-title {
  color       : #D2D2D2;
  font-size   : 24px;
  line-height : 134%;
  padding     : 20px 0 30px;
  font-family : $font-extra-light;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    color     : #9B9B9B;
    font-size : 30px;
  }
}

.welcome__btn {
  display  : inline-block;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
  }
}
