@mixin visible-mobile-only($mobileDisplay) {
  display   : $mobileDisplay;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    display   : none;
  }
}

@mixin visible-desktop-only($desktopDisplay) {
  display   : none;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    display: $desktopDisplay;
  }
}

@mixin container {
  margin           : 0 auto;
  width            : $width-mobile;

  @media #{$media-tablet} {
    width : $width-tablet;
  }

  @media #{$media-desktop} {
    width : $width-desktop;
  }
}
