@mixin visible-mobile-only($mobileDisplay) {
  display   : $mobileDisplay;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    display   : none;
  }
}

@mixin visible-desktop-only($desktopDisplay) {
  display   : none;

  @media #{$media-tablet} {
  }

  @media #{$media-desktop} {
    display: $desktopDisplay;
  }
}

@mixin container {
  //background-color : #fff;
  margin           : 0 auto;
  width            : $width-mobile;

  @media #{$media-tablet} {
    width : $width-tablet;
  }

  @media #{$media-desktop} {
    width : $width-desktop;
  }
}

@mixin reason-txt-regular {
  color       : $font-color-regular;
  font        : $font-size-regular $font-regular;
  line-height : $font-line-height;
}

@mixin placeholder {
  &::placeholder {
    @content
  }
}

@mixin form-placeholder-content {
  color       : $font-color-bold;
  font-family : $font-bold;
  font-size   : $font-size-bold;
}

@mixin form-input-text {
  @include transition;
  @include placeholder {
    @include form-placeholder-content;
  }

  background-color : $input-bg;
  border           : 2px solid $input-bg;
  padding          : 16px 22px;

  &:hover {
    background-color : $input-bg-hvr;
    border           : 2px solid $input-bg-hvr;
  }

  &:focus {
    outline          : none;
    border           : 2px solid $input-color-active-border;
    background-color : $input-bg-active;
  }
}
