$color-danger           : #FF0000;
$color-error            : #ff5c5c;

$bg-color               : #DEDEDE;
$bg-color-btn           : #FFCF00;

$width-mobile           : 480px;
$width-tablet           : 768px;
$width-desktop          : 1200px;

$media-mobile           : (min-width: $width-mobile);
$media-tablet           : (min-width: $width-tablet);
$media-desktop          : (min-width: $width-desktop);

$font-bold              : 'CirceWebBold', sans-serif;
$font-regular           : 'CirceWebRegular', sans-serif;
$font-light             : 'CirceWebLight', sans-serif; 
$font-extra-light       : 'CirceWebExtraLight', sans-serif; 

$font-color-primary     : #000000;
$font-color-secondary   : #ffffff;

$font-size-small        : 11px;
$font-size-regular      : 20px;
$font-size-big          : 40px;
