@font-face {
  font-family: "ArialMT";
  src: url("../fonts/ArialMT.woff");
}

@font-face {
  font-family: "CirceWebLight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CirceWebLight.woff");
}

@font-face {
  font-family: "CirceWebExtraLight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CirceWebExtraLight.woff");
}

@font-face {
  font-family: "CirceWebRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CirceWebRegular.woff");
}

@font-face {
  font-family: "CirceWebBold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CirceWebBold.woff");
}