.input {
    display             : block;
    width               : 328px;
    height              : 72px;
    padding             : 20px;
    color               : #495057;
    background-color    : #EFEFEF;
    background-clip     : padding-box;
    border              : 0;
}
